FLASK_ENV=development
SECRET_KEY=replace_me
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=paper_reader
CORS_ORIGINS=http://localhost:5173
DEFAULT_TARGET_LANG=zh-CN
ACCESS_TOKEN_EXPIRE_SECONDS=604800
EMAIL_CODE_EXPIRE_MINUTES=10
EMAIL_CODE_COOLDOWN_SECONDS=60
ALLOW_DEBUG_EMAIL_CODE=true
SMTP_HOST=smtp.qq.com
SMTP_PORT=587
SMTP_USERNAME=2691652967@qq.com
SMTP_PASSWORD=thklbfodqxlrdgfh
SMTP_FROM_EMAIL=2691652967@qq.com
SMTP_USE_TLS=true
OCR_LAYOUT_ENABLED_DEFAULT=true
OCR_LAYOUT_LANG=en
OCR_LAYOUT_USE_GPU=true
